@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-yukari);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-highlight: var(--highlight);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-progress: var(--progress);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    25% {
      background-position: -200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  --animate-shine: shine 3s ease-out infinite;
  --animate-gradient-flow: gradientFlow 10s ease 0s infinite normal none running;
}

:root {
  --radius: 0.5rem;
  --background: hsl(22, 44%, 100%);
  --foreground: hsl(22, 60%, 1%);
  --muted: hsl(22, 38%, 89%);
  --muted-foreground: hsl(22, 7%, 25%);
  --toast:var(--primary);
  --toast-foreground: var(--primary-foreground);
  --popover: hsl(22, 44%, 100%);
  --popover-foreground: hsl(22, 60%, 1%);
  --card: hsl(22, 44%, 100%);
  --card-foreground: hsl(22, 60%, 1%);
  --border: hsl(22, 12%, 91%);
  --input: hsl(22, 12%, 91%);
  --primary: hsl(22, 65%, 48%);
  --highlight: hsl(13, 78%, 52%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(22, 13%, 85%);
  --secondary-foreground: hsl(22, 13%, 25%);
  --accent: hsl(22, 13%, 85%);
  --accent-foreground: hsl(22, 13%, 25%);
  --destructive: hsl(9, 90%, 38%);
  --destructive-foreground: hsl(12, 40%, 80%);
  --success: hsl(138, 100%, 28%);
  --progress: hsl(41, 100%, 50%);
  --ring: hsl(22, 65%, 48%);
  --chart-1: hsl(22, 65%, 48%);
  --chart-2: hsl(22, 13%, 85%);
  --chart-3: hsl(22, 13%, 85%);
  --chart-4: hsl(22, 13%, 88%);
  --chart-5: hsl(22, 68%, 48%);
}

.dark {
  --background: hsl(22, 34%, 1%);
  --foreground: hsl(22, 39%, 98%);
  --muted: hsl(240, 4.76%, 8.24%);
  --muted-foreground: hsl(215.45, 20%, 43%);
  --toast:var(--primary);
  --toast-foreground: var(--primary-foreground);
  --popover: hsl(22, 34%, 1%);
  --popover-foreground: hsl(22, 39%, 98%);
  --card: hsl(22, 34%, 1%);
  --card-foreground: hsl(22, 39%, 98%);
  --border: hsl(22, 12%, 12%);
  --input: hsl(22, 4%, 12%);
  --primary: hsl(22, 65%, 48%);
  --highlight: hsl(13, 78%, 52%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(240, 4.76%, 14%);
  --secondary-foreground: hsl(300, 1.23%, 84.12%);
  --accent: hsl(240, 4.76%, 8.24%);
  --accent-foreground: hsl(22, 1%, 78%);
  --destructive: hsl(2, 87%, 52%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --success: hsl(138, 100%, 28%);
  --progress: hsl(41, 100%, 50%);
  --ring: hsl(22, 65%, 48%);
  --chart-1: hsl(22, 65%, 48%);
  --chart-2: hsl(60, 1.1%, 17.84%);
  --chart-3: hsl(22, 1%, 18%);
  --chart-4: hsl(22, 1%, 21%);
  --chart-5: hsl(22, 68%, 48%);
}

nextjs-portal, next-route-announcer {
  display: none !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
